
#mainAboutme {
    width: calc(100vw - 200px);
    margin-left: 170px;
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #mainAboutme span {
	font-size: 14px;
  }

  #textAboutMe {
	width: calc(100% - 400px);
	font-size: 18px;
  }


  .tittle {
	font-family: 'Allerta Stencil', sans-serif;
	color: black;
  }

  #name {
   color: #80B4B6; 
   font-family: 'Allerta Stencil';
   padding-left: 20px;
  }
  
  .opacityShape {
	opacity: 0.4;
  }

  #divTittle {
	display: flex;
  align-items: center;
  }

  #divTittle span {
    font-size: 14px;
  }

  #textAboutMe span {
    font-size: 14px;
  }

  #personalPhoto {
	position: fixed;
    right: 0%;
	bottom: 0;
  }

  #cardAboutme {
	width: 100%;
	height: auto;
	background-color: white;
	border: 1px solid #3F3F3F;
	/* border-radius: 20px; */
	padding:  40px;
	box-shadow: 5px 5px 5px #d6d6d6;
  }

  .icon {
	width: 40px;
  }

  li {
	list-style: none;
  }

  #textCardAboutme {
	display: flex;
  }

  #textCardAboutme ul li {
	margin-bottom: 10px;
  }

  #cardAboutme li {
    display: flex;
    align-items: center;
  }

  #textSkills {
    margin: 10px;
  }

  #textPersonality {
    width: 50%;
    margin: 10px;
  }

  #textPersonality h4 {
    color: #80B4B6;
  }

  .tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .tittle h4 {
    padding-left: 10px;
    color: #80B4B6;
  }

  .skillsCoder {
    padding: 10px 0;
  }
  .skillsCoder p {
    padding: 10px 0;
  }

  .skillsCoder .skillsTitulations p  {
    padding: 0;
  }

  .containerTittle {
    margin-top: 20px;
  }

  .verticalLine {
    color: #3F3F3F;
    border: 1px solid #3F3F3F;
    margin: 10px;
  }

  #finalCardAboutMe {
    text-align: center;
  }

  .heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
  }

/*
============================
Responsive
============================
*/

@media screen and (max-width: 480px) {
  #mainAboutme {
    width: 100%;
    margin: 20px;
    padding-left: 0px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #mainAboutme span {
	font-size: 10px;
  }

  #textAboutMe {
	width: 100%;
	font-size: 14px;
  }

  #divTittle h2 {
    font-size: 30px;
  }

  .tittle {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #name {
    padding-left: 10px;
   }

  #textAboutMe {
    padding: 0px 10px;
  }

  #personalPhoto {
    position: inherit;
    transform: translate(0%, -50%);
    }

  #personalPhoto img {
    border-radius: 50%;
    width: 150px;
    }
  

}

/*
===========================
	Modales
===========================
*/

.modal {
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 10; /* Se situará por encima de otros elementos de la página*/
  padding: 20px; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: hidden; /* Se activará el scroll si es necesario */
  background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}

.contenido-modal {
  position: relative; /* Relativo con respecto al contenedor -modal- */
  background-color: white;
  margin: auto; /* Centrada */
  padding: 20px;
  width: 100%;
  height: 90%;
  max-width: 800px;
  max-height: 600px;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido-modal img {
  height: calc(100% - 52px);
  padding-top: 10px;
  margin: 0 auto;
}


.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.headerModal {
  background-color: #3F3F3F;
  color: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.cerrar {
  color: #d6d6d6;
  font-size: 20px;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: unset;
  border: none;
  margin-top: 10px;
  height: max-content;
}

.educationTittle {
  display: flex;
  justify-content: space-between;
}






/*
===========================
	animaciones
===========================
*/

/* Animaciones modal */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animarsuperior {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

 /* ----------------------------------------------
 * Generated by Animista on 2023-1-23 21:38:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

  

  