#divTittle {
	display: flex;
  align-items: center;
  }

  #divTittle span {
    font-size: 14px;
  }

  #tittleText {
    padding: 20px;
    text-align: center;
  }

  #mainProjects {
    width: calc(100vw - 200px);
    margin-left: 170px;
    padding: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #mainProjects span {
	font-size: 14px;
  }

  #containerProjects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
  }

  .cardProject {
    width: 400px;
    height: 800px;
    border-radius: 5px;
    border: 0.5px solid #d6d6d6;
    box-shadow: 5px 5px 5px #d6d6d6;
    margin: 0px 10px;
  }

  .tittleCardProyect {
    background-color: #80B4B6;
    border-radius: 5px 5px 0px 0px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgCardProject {
    display: flex;
    justify-content: center;
    height: 25%;
  }
  .imgCardProject img {
    width: 100%;
    border-top: 1px solid #3f3f3f;
  }

  .descriptionCardProject {
    padding: 20px;
    height: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .SkillsCardProject {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .descriptionCardProject div img {
    width: 35px;
    margin: 5px;
  }

  .descriptionCardProject a {
    color: #d6d6d6;
    font-size: 12px;
    background-color: #3f3f3f;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
  }

  .descriptionCardProject p {
    /* padding-top: 10px; */
    line-height: 1.5;
  }

  #thanksText {
    text-align: center;
  }

  .iconHeight {
    height: 30px;
    width: unset !important;
  }

/*
=====================
Responsive
=====================
*/
@media screen and (max-width: 480px) {

  #mainProjects {
    width: 100%;
    margin: 0px;
    padding: 1rem;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #containerProjects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
  }

  .cardProject {
    width: 318px;
    height: 800px;
    border-radius: 5px;
    border: 0.5px solid #d6d6d6;
    box-shadow: 5px 5px 5px #d6d6d6;
    
    margin-bottom: 20px;
  }
}
