/*
===========================
	TIPOGRAFIAS
===========================
*/

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Courier+Prime&family=Montserrat:wght@400&display=swap');


/*
===========================
	variables css
===========================
*/

:root {}


/*
===========================
	css comun
===========================
*/

* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #F5F5F5;
}

nav {
	background-color: #3F3F3F;
	width: 170px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	
}

span {
	font-size: 8px;
  }

#menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#menu a hr{
	padding-top: 20px;
}

nav a {
	font-family: 'Courier Prime', monospace;
	color: #F5F5F5;
	text-decoration: none;
	font-size: 20px;
	
}

nav div a {
	margin: 10px;
}

#socialMedia {
	display: flex;
	align-items: center;
}

.letraS {
	font-weight: 900;
	font-size: 100px;
	color: #80B4B6;
}

#button-menu {
	background: none;
	border: none;
}

/* estilos main */
#shapesBackground {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#blueShape {
	position: absolute;
    top:10%;
    left: 0%;
}

#blueShape img {
	width: 800px;
}

#yellowShape {
	position: absolute;
    top: 73%;
    right: 0%;
}

#yellowShape img {
	width: 900px;
}

#violetShape {
	position: absolute;
    top: -1%;
    right: 0%;
}

#violetShape img {
	width: 525px;
}

.shake-vertical {
	-webkit-animation: shake-vertical 10s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite both;
	        animation: shake-vertical 10s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite both;
}

main {
width: calc(100vw - 170px);
margin-left: 170px;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h2 {
font-family: 'Allerta Stencil', sans-serif;
font-size: 80px;
font-weight: 400;
line-height: 102px;
letter-spacing: 0em;
text-align: left;
}

h5, h3 {
font-size: 40px;
}

span, h3{
font-family: 'Courier Prime', monospace;
color: rgba(0, 0, 0, 0.48);
}

main a {
text-decoration: none;
color: #3F3F3F;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 30px;
}
/*
===========================
	responsive
===========================
*/

@media screen and (orientation: landscape) {}
@media screen and (orientation: portrait) {}


/*
===========================
	animaciones
===========================
*/

@keyframes animacion {
	0% {}
	100% {}
}

@-webkit-keyframes shake-vertical {
	0%,
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	}
	80% {
	  -webkit-transform: translateY(6.4px);
			  transform: translateY(6.4px);
	}
	90% {
	  -webkit-transform: translateY(-6.4px);
			  transform: translateY(-6.4px);
	}
  }
  @keyframes shake-vertical {
	0%,
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	}
	80% {
	  -webkit-transform: translateY(6.4px);
			  transform: translateY(6.4px);
	}
	90% {
	  -webkit-transform: translateY(-6.4px);
			  transform: translateY(-6.4px);
	}
  }

 